@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: #00030C;
}

.banner {
    background-image: url("Background.png");
    background-position: right;
    background-repeat: no-repeat;
    height: 75vh;
    color: white;
    width: 70vw;
    margin: auto;
}

.container-banner {
    display: flex;
    flex-direction: column;
    max-width: 588px;
    align-items: center;
    font-family: 'Inter', sans-serif;
    padding-top: 125px;
}

.container-banner h2 {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    margin-bottom: 22px;
}

.container-banner button {
    width: 512px;
    height: 56px;
    margin-bottom: 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#btn-blue {
    background-color: #167BF7;
    margin-top: 54px;
    color: white;
}

#btn-transparent {
    background-color: transparent;
    color: white;
    border: 1px solid #FFFFFF;
}

.container-banner p {
    font-weight: 400;
    font-size: 12px;
    color: #C0C0C0;
}

/*-----------------------FIM DA SECTION 1-----------------------*/

.plataformas {
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-family: 'Inter', sans-serif;
    margin: 95px auto 0;
    width: 80vw;
    align-items: center;
}

#img-plataforma {
    max-width: 498px;
}

.container-plataforma {
    max-width: 588px;
}

.container-plataforma h1{
    font-weight: 700;
    font-size: 3rem;
}

.container-plataforma p {
    font-weight: 400;
    font-size: 1rem;
    color:#F9F9F9;
    line-height: 150%;
}

/*-----------------------FIM DA SECTION 2-----------------------*/

.telas {
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
    width: 80vw;
    margin: 151px auto 0;
    font-family: 'Inter', sans-serif;
    text-align: justify;
}

.container-telas {
    max-width: 588px;
}

.container-telas p {
    font-weight: 400;
    font-size: 1rem;
    color: #F9F9F9;
    line-height: 150%;
}

#img-telas {
    max-width: 496px;
}

.container-telas button {
    background: #167BF7;
    border-radius: 8px;
    height: 56px;
    font-size: 1rem;
    color: white;
    padding: 16px;
    margin-top: 32px;
}

/*-----------------------FIM DA SECTION 3-----------------------*/

.notebook {
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
    width: 80vw;
    font-family: 'Inter', sans-serif;
    margin: 226px auto 0;
}

#img-notebook {
    max-width: 547px;
}

.container-notebook {
    max-width: 588px;
}

.container-notebook h1 {
    font-weight: 700;
    font-size: 3rem;
}

.container-notebook p {
    font-weight: 400;
    font-size: 1rem;
    color: #F9F9F9;
    line-height: 150%;
}

/*-----------------------FIM DA SECTION 4-----------------------*/

.dispositivos {
    font-family: 'Inter', sans-serif;
    width: 80vw;
    text-align: center;
    color: white;
    margin: 200px auto 0;
    font-size: 2.5rem;
}

.container-dispositivos {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    font-size: 1.7rem;
}

/*-----------------------FIM DA SECTION 5-----------------------*/

footer {
    margin-top: 145px;
    font-family: 'Inter', sans-serif;
    color: white;
    text-align: center;
}

footer img {
    width: 102px;
    margin-bottom: 40px;
}

footer li {
    display: inline-block;
    margin-right: 16px;
    font-size: 1rem;
    margin-bottom: 24px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer p {
    display: block;
    font-size: 0.9rem;
    color: #C0C0C0;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 30px;
}

/*-----------------------FIM DO FOOTER-----------------------*/

@media screen and (max-width: 1200px) {
    .plataformas , .telas , .notebook {
        display: block;
        text-align: center;
    }
    .container-plataforma , .container-telas , .container-notebook {
        margin: 25px auto;
    }
}

@media screen and (max-width: 890px) {
    .container-dispositivos {
        flex-wrap: wrap;
    }
    .container-banner {
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 750px) {
    .container-banner button {
        width: 50vw;
        min-width: 200px;
    }
}

@media screen and (max-width: 715px) {
    #img-plataforma , #img-telas , #img-notebook {
        object-fit: cover;
        width: 100%;
    }

}
@media screen and (max-width: 715px) {
    #alura-combo {
        width: 60vw;
    }
}